<h1>Find a Bus Near You!</h1>

<p>To find a bus in near your location, please enter your <em>approximate</em> location and we'll track one down!</p>

<%= render 'form' %>

<%= link_to 'Back', locations_path %>
